#container {
    background-color: gray;
    height: 500%;
}

#honizontally {
    background-color: palegoldenrod;
}

.inline {
    text-align: center;
    display: inline;
}

.block {
    margin: 0 auto;
    width: 200px;
    text-align: center;
}

#vertically {
    background-color: goldenrod;
}

header {
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}