body {
    background: gray;
}

#paper {
    width: 980px;
    height: 1386px;
    margin: auto;
    background: white;
}

#header {
    width: 892px;
    margin: auto;
    border-bottom: solid 2px #938e8c;
}

.title {
    width: 110px;
    height: 61px;
    background: #d45d5c;
    font: 12px "黑体";
    display: table-cell;
    vertical-align: bottom;
    color: #ffffff;
}

.date {
    height: 61px;
    margin: 0;
    float: right;
    font: 12px "黑体";
    display: table-cell;
    color: #d45d5c;
    vertical-align: bottom;
}