* {
    margin: 0;
    padding: 0;
    background-color: white;
}

.thin_border {
    border: thin solid black;
}

div#container {
    margin: 20px;
    background-color: #eee;
    position: relative;
    height: auto;
    min-height: 472px;
}

div#left {
    width: 200px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo {
    display: block;
    width: 80px;
    height: 80px;
    margin: 20px 20px 20px 20px;
}

div#left .logo {
    display: inline-block;
}

div#left span {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    border: none;
    font-size: 0.8em;
}

div#right {
    width: 120px;
    position: absolute;
    top: 20px;
    right: 20px;
}

div#main {
    margin: 20px 160px 20px 240px;
    width: auto;
}

p {
    margin: 20px;
}