* {
    margin: 0;
    padding: 0;
    background-color: white;
    border: thin solid black;
}


div#container {
    margin: 20px;
    background-color: #eee;
    position: relative;
}

div#left {
    width: 200px;
    position: absolute;
    top: 20px;
    left: 20px;
}

div#right {
    width: 120px;
    position: absolute;
    top: 20px;
    right: 20px;
}

div#main {
    margin: 20px 160px 20px 240px;
    width: auto;
}

p {
    margin: 20px;
}